In [35]:
import pandas as pd
import numpy as np

# 1. Carga fichero

In [36]:
df_original = pd.read_csv("../Data/Raw/diabetes_prediction_dataset.csv")

In [37]:
df_original.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [38]:
df_original["smoking_history"].unique()

array(['never', 'No Info', 'current', 'former', 'ever', 'not current'],
      dtype=object)

In [39]:
#modificacion smoking_history

mapeo = {'never': 0, 'No Info': 0, 'current': 3, 'former': 3, 'ever': 1, 'not current': 2}
df_original["smoking_history"] = df_original["smoking_history"].replace(mapeo)
df_original.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,0,25.19,6.6,140,0
1,Female,54.0,0,0,0,27.32,6.6,80,0
2,Male,28.0,0,0,0,27.32,5.7,158,0
3,Female,36.0,0,0,3,23.45,5.0,155,0
4,Male,76.0,1,1,3,20.14,4.8,155,0

In [40]:
df_original.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'smoking_history',
       'bmi', 'HbA1c_level', 'blood_glucose_level', 'diabetes'],
      dtype='object')

## 2. Creación csv train y test

In [41]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df_original, test_size=0.2, random_state=42)

In [42]:
print(test_df.shape)
print(train_df.shape)

(20000, 9)
(80000, 9)

## 3.Creación csv

In [47]:
def csv(nombre_archivo, archivo_guardar):

    ruta_archivo = '../Data/' + nombre_archivo + '.csv'
    archivo_guardar.to_csv(ruta_archivo, index=False)

In [48]:
csv("test", test_df)

In [ ]:
csv("train", train_df)