# INDICE
1. [Carga fichero](#1.-Carga-fichero.)
2. [Creación X/Y.](#2.-Creacion-X/Y)
3. [Módelo Baseline](#3.-Modelo-baseline)
4. [Acotación de datos](#4.-Acotacion-de-datos)
5. [Descripción de las variables](#5.-Descripcion-de-las-variables)
6. [Análisis](#6.-Analisis)
7. [Conclusiones](#7.-Conclusiones)

In [1]:
import pandas as pd 
import numpy as np

## 1. Carga fichero.

In [4]:
df = pd.read_csv("../Data/train.csv")
df.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size,salario_eur
0,2022,140806.99,2,33,26,0,25,2,33831.16
1,2023,96163.86,2,89,75,100,70,2,139656.00
2,2022,140806.99,2,25,75,0,70,2,92000.00
3,2022,140806.99,2,33,75,100,70,2,144072.00
4,2023,140806.99,2,33,75,100,70,2,161000.00

## 2. Creacion X/Y.

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X = df.drop(columns=["salario_eur"], axis=1)
y = df["salario_eur"]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(600, 8)
(2404, 8)
(600,)
(2404,)

## 3. Modelo baseline.

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
baseline_model = LinearRegression()
baseline_model.fit(X_train, y_train)

LinearRegression()

In [12]:
baseline_predictions = baseline_model.predict(X_test)

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error, r2_score

print("MAE", mean_absolute_error(y_test, baseline_predictions))
print("MAPE", mean_absolute_percentage_error(y_test, baseline_predictions))
print("MSE", mean_squared_error(y_test, baseline_predictions))
print("RMSE", np.sqrt(mean_squared_error(y_test, baseline_predictions)))

MAE 37187.196211039125
MAPE 0.4413393966742854
MSE 2484636558.0268383
RMSE 49846.12881685837