# INDICE
1. [Carga fichero](#1.-Carga-fichero.)
2. [Creación X/Y.](#2.-Creacion-X/Y)
3. [Módelo Baseline](#3.-Modelo-baseline)
4. [Acotación de datos](#4.-Acotacion-de-datos)
5. [Descripción de las variables](#5.-Descripcion-de-las-variables)
6. [Análisis](#6.-Analisis)
7. [Conclusiones](#7.-Conclusiones)

In [1]:
import pandas as pd 
import numpy as np

## 1. Carga fichero.

In [2]:
df = pd.read_csv("../Data/train.csv")
df.head()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size,salario_eur
0,2022,140806.99,2,33,26,0,25,2,33831.16
1,2023,96163.86,2,89,75,100,70,2,139656.00
2,2022,140806.99,2,25,75,0,70,2,92000.00
3,2022,140806.99,2,33,75,100,70,2,144072.00
4,2023,140806.99,2,33,75,100,70,2,161000.00

In [13]:
df.describe()

,work_year,experience_level,employment_type,job_title,employee_residence,remote_ratio,company_location,company_size,salario_eur
count,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000,3004.000000
mean,2022.367177,126571.203648,1.995672,39.836551,66.347204,46.970706,62.309920,2.083888,127011.510200
std,0.691994,25848.612573,0.142458,18.529065,19.071250,48.632424,17.306587,0.390897,58054.043449
min,2020.000000,72262.580000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4721.440000
25%,2022.000000,96163.860000,2.000000,29.000000,75.000000,0.000000,70.000000,2.000000,87400.000000
50%,2022.000000,140806.990000,2.000000,33.000000,75.000000,0.000000,70.000000,2.000000,124200.000000
75%,2023.000000,140806.990000,2.000000,47.000000,75.000000,100.000000,70.000000,2.000000,162150.000000
max,2023.000000,179336.460000,3.000000,92.000000,77.000000,100.000000,71.000000,3.000000,414000.000000

## 2. Creacion X/Y.

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X = df.drop(columns=["salario_eur"], axis=1)
y = df["salario_eur"]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(600, 8)
(2404, 8)
(600,)
(2404,)

## 3. Modelo baseline.

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
baseline_model = LinearRegression()
baseline_model.fit(X_train, y_train)

LinearRegression()

In [9]:
import pickle

with open('../models/train_model.pkl', 'wb') as archivo_salida:
    pickle.dump(baseline_model, archivo_salida)

In [12]:
baseline_predictions = baseline_model.predict(X_test)

In [14]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error, r2_score

print("MAE", mean_absolute_error(y_test, baseline_predictions))
print("MAPE", mean_absolute_percentage_error(y_test, baseline_predictions))
print("MSE", mean_squared_error(y_test, baseline_predictions))
print("RMSE", np.sqrt(mean_squared_error(y_test, baseline_predictions)))

MAE 37187.196211039125
MAPE 0.4413393966742854
MSE 2484636558.0268383
RMSE 49846.12881685837